TASK - 1

Importing Required Library

In [103]:
import pandas as pd

Load the Dataset

In [105]:
df=pd.read_csv("C:/Users/Ritu/Downloads/netflix_titles_nov_2019.csv.zip")
df

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,type
0,81193313,Chocolate,NaN,"Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang ...",South Korea,"November 30, 2019",2019,TV-14,1 Season,"International TV Shows, Korean TV Shows, Roman...",Brought together by meaningful meals in the pa...,TV Show
1,81197050,Guatemala: Heart of the Mayan World,"Luis Ara, Ignacio Jaunsolo",Christian Morales,NaN,"November 30, 2019",2019,TV-G,67 min,"Documentaries, International Movies","From Sierra de las Minas to Esquipulas, explor...",Movie
2,81213894,The Zoya Factor,Abhishek Sharma,"Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...",India,"November 30, 2019",2019,TV-14,135 min,"Comedies, Dramas, International Movies",A goofy copywriter unwittingly convinces the I...,Movie
3,81082007,Atlantics,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...","France, Senegal, Belgium","November 29, 2019",2019,TV-14,106 min,"Dramas, Independent Movies, International Movies","Arranged to marry a rich man, young Ada is cru...",Movie
4,80213643,Chip and Potato,NaN,"Abigail Oliver, Andrea Libman, Briana Buckmast...","Canada, United Kingdom",NaN,2019,TV-Y,2 Seasons,Kids' TV,"Lovable pug Chip starts kindergarten, makes ne...",TV Show
...,...,...,...,...,...,...,...,...,...,...,...,...
5832,70141644,Mad Ron's Prevues from Hell,Jim Monaco,"Nick Pawlow, Jordu Schell, Jay Kushwara, Micha...",United States,"November 1, 2010",1987,NR,84 min,"Cult Movies, Horror Movies","This collection cherry-picks trailers, forgott...",Movie
5833,70127998,Splatter,Joe Dante,"Corey Feldman, Tony Todd, Tara Leigh, Erin Way...",United States,"November 18, 2009",2009,TV-14,29 min,Horror Movies,"After committing suicide, a washed-up rocker r...",Movie
5834,70084180,Just Another Love Story,Ole Bornedal,"Anders W. Berthelsen, Rebecka Hemse, Nikolaj L...",Denmark,"May 5, 2009",2007,NR,104 min,"Dramas, International Movies",When he causes a car accident that leaves a yo...,Movie
5835,70157452,Dinner for Five,NaN,NaN,United States,"February 4, 2008",2007,TV-MA,1 Season,Stand-Up Comedy & Talk Shows,"In each episode, four celebrities join host Jo...",TV Show
5836,70053412,To and From New York,Sorin Dan Mihalcescu,"Barbara King, Shaana Diya, John Krisiukenas, Y...",United States,"January 1, 2008",2006,NR,81 min,"Dramas, Independent Movies, Thrillers","While covering a story in New York City, a Sea...",Movie

Identifing Missing Values in each Column

In [107]:
df.isnull().sum()

show_id            0
title              0
director        1901
cast             556
country          427
date_added       642
release_year       0
rating            10
duration           0
listed_in          0
description        0
type               0
dtype: int64

Handle Missing Values

In [109]:
df['director'] = df['director'].fillna("Unknown")
df['cast'] = df['cast'].fillna("Not Available")
df['country'] = df['country'].fillna(df['country'].mode()[0])
df['rating'] = df['rating'].fillna("Not Rated")
df['date_added'] = pd.to_datetime(df['date_added'])
df['date_added'] = df['date_added'].fillna(pd.to_datetime(df['release_year'], format='%Y'))

Remove Duplicate Data

In [111]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

Checking for the Null Values

In [113]:
df.isnull().sum()

show_id         0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
type            0
dtype: int64

Checking for the Duplicate Data

In [115]:
df.duplicated().sum()

0

Standardizing Column Names

In [117]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

Removing Extra Spaces and Standardizing Text Formate

In [119]:
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

df['type'] = df['type'].str.lower()
df['country'] = df['country'].str.lower()
df['rating'] = df['rating'].str.lower()

Fixing Data Types

In [121]:
df['release_year'] = df['release_year'].astype(int)
df['date_added'] = pd.to_datetime(df['date_added'])

In [127]:
df.to_excel("netflix_movies_and_TVshows.xlsx", index=False)

In [129]:
df1=pd.read_excel("netflix_movies_and_TVshows.xlsx")
df1

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,type
0,81193313,Chocolate,Unknown,"Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang ...",south korea,2019-11-30,2019,tv-14,1 Season,"International TV Shows, Korean TV Shows, Roman...",Brought together by meaningful meals in the pa...,tv show
1,81197050,Guatemala: Heart of the Mayan World,"Luis Ara, Ignacio Jaunsolo",Christian Morales,united states,2019-11-30,2019,tv-g,67 min,"Documentaries, International Movies","From Sierra de las Minas to Esquipulas, explor...",movie
2,81213894,The Zoya Factor,Abhishek Sharma,"Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...",india,2019-11-30,2019,tv-14,135 min,"Comedies, Dramas, International Movies",A goofy copywriter unwittingly convinces the I...,movie
3,81082007,Atlantics,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...","france, senegal, belgium",2019-11-29,2019,tv-14,106 min,"Dramas, Independent Movies, International Movies","Arranged to marry a rich man, young Ada is cru...",movie
4,80213643,Chip and Potato,Unknown,"Abigail Oliver, Andrea Libman, Briana Buckmast...","canada, united kingdom",2019-01-01,2019,tv-y,2 Seasons,Kids' TV,"Lovable pug Chip starts kindergarten, makes ne...",tv show
...,...,...,...,...,...,...,...,...,...,...,...,...
5832,70141644,Mad Ron's Prevues from Hell,Jim Monaco,"Nick Pawlow, Jordu Schell, Jay Kushwara, Micha...",united states,2010-11-01,1987,nr,84 min,"Cult Movies, Horror Movies","This collection cherry-picks trailers, forgott...",movie
5833,70127998,Splatter,Joe Dante,"Corey Feldman, Tony Todd, Tara Leigh, Erin Way...",united states,2009-11-18,2009,tv-14,29 min,Horror Movies,"After committing suicide, a washed-up rocker r...",movie
5834,70084180,Just Another Love Story,Ole Bornedal,"Anders W. Berthelsen, Rebecka Hemse, Nikolaj L...",denmark,2009-05-05,2007,nr,104 min,"Dramas, International Movies",When he causes a car accident that leaves a yo...,movie
5835,70157452,Dinner for Five,Unknown,Not Available,united states,2008-02-04,2007,tv-ma,1 Season,Stand-Up Comedy & Talk Shows,"In each episode, four celebrities join host Jo...",tv show
5836,70053412,To and From New York,Sorin Dan Mihalcescu,"Barbara King, Shaana Diya, John Krisiukenas, Y...",united states,2008-01-01,2006,nr,81 min,"Dramas, Independent Movies, Thrillers","While covering a story in New York City, a Sea...",movie

In [131]:
df1.isnull().sum()

show_id         0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
type            0
dtype: int64

In [133]:
df1.duplicated().sum()

0